# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/
.pubspec.lock
.pubspec.lock/
pubspec.lock
.flutter-plugins
.flutter-plugins-deps
.flutter-versions
.packages
pubspec.lock
.dart_tool/
build/
*.env
.env
# Ignorar archivos generados para Linux
linux/flutter/generated_plugin_registrant.cc
linux/flutter/generated_plugins.cmake

# Ignorar archivos generados para macOS
macos/Flutter/GeneratedPluginRegistrant.h
macos/Flutter/GeneratedPluginRegistrant.m
macos/Flutter/FlutterPluginRegistrant.m
macos/Flutter/flutter_export_environment.sh

# Ignorar archivos generados para Windows
windows/flutter/GeneratedPluginRegistrant.cpp
windows/flutter/GeneratedPluginRegistrant.h
windows/flutter/flutter_export_environment.sh

# Ignorar archivos generados para Linux, macOS y Windows
*.dSYM
*.app
*.exe
*.dll
*.so
*.dylib

# Ignorar archivos generados por el sistema de construcción
build/
pubspec.lock
.flutter-plugins
.flutter-plugins-dependencies
.flutter-plugins-de
linux/flutter/
macos/flutter/
windows/flutter/

# iOS
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Pods/
ios/Podfile.lock
ios/DerivedData/

# Android
local.properties
*.iml
build/

**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
.vscode/
.git/
/ios/Pods/
/android/private_key
/android/upload_certificate.pem
.firebase/
app.*.symbols
app.*.map.json
/android/app/debug
/android/app/profile
/android/app/release

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Directorio de entorno
.env